
#top{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid gray;
}
main{
    display: flex;
}
#lateral{
    flex: 1;
    border-right: 1px solid gray;
}

#lateral p {
    cursor: pointer;
}

form {
    margin: 5px;
}
form label, form input {
    margin: 2px;
}

#content{
    flex: 9;
}
.msgError
{
    color : red;
    font-size : 200%;
    width: 300px;
    height: 40px;
}
table {
    display: block;
    width: 100%;
    border-collapse: collapse;
}
tbody {
    display: block;
}
tr {
    display: flex;
    border-bottom: grey 1px solid;
}
td {
    padding: 10px;
    cursor: pointer;
}
.row1 {
    flex: 2;
}
.row2 {
    flex: 5;
}
.row3 {
    flex: 2;
}
.row4, .row5 {
    flex: 1;
}
#contentMsg{
    padding-left: 10px;
}

textarea {
    margin : 10px;
}

#headMsgTitle {
    display: flex;
}

#headMsgTitle h3{
    flex: 10;
}

#headMsgTitle input{
    flex: 1;
    margin: 10px;
}

tr.formModifUser {
    padding: 5px 2px;
    border: 1px solid gray;
    border-collapse: collapse;
}

.formModifUser td {
    flex: 1;
}